global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['localhost:8082']

  - job_name: 'node'
    static_configs:
      - targets: ['localhost:9100']  # node-exporter default

